    {{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Sobre Nosotros</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, optio necessitatibus accusantium amet sunt debitis voluptate officiis facere nesciunt quas qui ipsam corrupti sint hic at tenetur voluptates soluta odio?</p>
        </div>

        <div class="col-4">
            <img src="/assets/img/img1.jpg" class="img-thumbnail">
        </div>

    </div>

   {{> footer }}